[Unit]
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=/dev/nvme1n1
Where=/var/www/download.gluster.org/
