[Unit]
Conflicts=umount.target
Before=local-fs.target umount.target caddy.service
After=var.mount

[Mount]
What=/dev/nvme2n1
Where=/var/www/lists.gluster.org/

[Install]
WantedBy=local-fs.target
